@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Caveat:wght@400..700&family=Satisfy&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Satisfy&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url(pic2.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    height: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a {
    font-size: 1.5rem;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: orange;
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #fff;
}

.action-btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;

}

.dropdown_menu li {
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* RESPONSITVE DESIGN */
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;


    }
}

@media(max-width: 300px) {

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        position: relative;
        right: 10px;
        left: 60px;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;

    }
}

/* Game CSS in Down */

div.gamecontainer {
    color: #ffffff;
    /* backdrop-filter: blur(3px); */
    margin: 0;
    padding-bottom: 50%;
}

div.container {
    margin: 30px;
    background-color: #ffffffb6;
    color: #000000;
    opacity: 0.8;
}

#reset {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border: transparent;
    border-radius: 15px;
    font-size: 15px;
}

#reset:hover {
    color: #ffffff;
    background-color: #ff6600d1;
    border-radius: 15px;
    transition: 0.1s;
}


.gamecontainer {
    padding-top: 4rem;
    display: flex;
    margin-top: 50px;
    align-content: center;
    margin: 30px;
}


.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'roboto', sans-serif;

}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.box:hover {
    background-color: rgb(240, 224, 255);
}

.info {
    color: #fff;
}

.gameinfo h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.imgbox img {
    padding-top: 25px;
    width: 0;
    transition: witdh 1s ease-in-out;
}

.br-0 {
    border-right: 0;

}

.bl-0 {
    border-left: 0;

}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}


.line {
    background-color: black;
    height: 5px;
    width: 0px;
    position: absolute;
    background-color: #f98900;
    transition: width 1s ease-in-out;
}

@media screen and (max-width:700px) {
    .gamecontainer {
        flex-wrap: wrap;
        margin-top: 34px;
    }

    .box {
        font-size: 11vw;
    }

    .gameInfo {
        margin-top: 34;
    }

    .gameinfo h1 {
        font-size: 1.5rem;

    }

    .container {
        display: grid;
        grid-template-rows: repeat(3, 15vw);
        grid-template-columns: repeat(3, 15vw);
    }

    .line {
        display: none;
    }

    body {
        overflow-y: scroll;
        background-repeat: no-repeat;
        margin: 0;
        height: 100%;

    }

}

@media screen and (max-width:430px) {
    .dropdown_menu {
        display: block;
        position: relative;
        right: 10px;
        left: 6px;
    }

    .line {
        display: none;
    }

    body {
        overflow-y: scroll;
        background-repeat: no-repeat;
        margin: 0;
        height: 100%;
    }

}