body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: linear-gradient(130deg,rgba(5, 179, 188, 0.761), rgba(255, 72, 0, 0.889));
    
}

.resume {
    max-width: 750px;
    margin: 30px auto;  
    padding: 50px;  
}

header {
    text-align: center;
    animation: rainbowText 1s infinite;
}

@keyframes rainbowText {
    0% {
        color: #00bfff;
    }   

    25% {
        color: #ff9900;
    }

    50% {
        color: #ff0c10;
    }

    75% {
        color: #36ff33;
    }

    100% {
        color: #ff19ff;
    }
}

h1 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.contact,
.education,
.skills,
.projects,
.achievements {
    margin-top: 20px;
    text-decoration: none;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

.projects p,
.achievements p {
    margin-bottom: 10px;
}

.contact li {
    display: inline-block;
    margin-right: 10px;
}
.contact li a{
    text-decoration: none;
    color: rgb(111, 162, 0);
    text-align: center;
    animation: rainbowT 5s infinite;
}

@keyframes rainbowT {
    0% {
        color: #000000;
      
    }   

    25% {
        color: #ff9b06;
    }

    50% {
        color: #158e92;  font-size: 20px;
    }

    75% {
        color: #f90000;
    }

    100% {
        color: #26ff00;
    }
}
.contact li a:hover{
    color: white;
    background-color: #397a08;
    padding:8px;
    border-radius: 15px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: #f0f0f0; */
}

.login-container {
    background-color: #bf9af7;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff; 
    color: #397a08; 
    text-align: center;
    border-radius: 15px;
    text-decoration: auto;
 
}
.button:hover{
    color:#ffffff;
background-color: #397a08;
}
